white = #fff
black = #353535
red = #b9351d
orange =#be3a21
lightblue = #48bdf3
blue = #5495cf
darkblue = #287ba1
lightgray = #c2c2c2
darkgray = #787878
magenta = #7b0d00
small = 18px
normal = 24px
large = 30px
x-large = 36px
xx-large = 51px
animation = all .7s ease

//****MIXINs
media(maxWidth)
    @media screen and (max-width: maxWidth)
        {block}
size(width, height)
	width width
	height height