extends include/head
block content

	include include/header
	include include/calc
	include include/loan
	include include/howto
	include include/map
	include include/certificates
	include include/footer