section#sect-6
	.inner
		h3 Сертификаты
		#owl-cert
			a.btn.prev &#12296;&nbsp;&nbsp;
			.owl-cert
				.item
					a.gallery(rel='group', title='', href='img/cert.jpg')
						img(src='img/cert.jpg')
				.item
					a.gallery(rel='group', title='', href='img/cert2.jpg')
						img(src='img/cert2.jpg')
				.item
					a.gallery(rel='group', title='', href='img/cert.jpg')
						img(src='img/cert.jpg')
				.item
					a.gallery(rel='group', title='', href='img/cert2.jpg')
						img(src='img/cert2.jpg')
				.item
					a.gallery(rel='group', title='', href='img/cert.jpg')
						img(src='img/cert.jpg')
				.item
					a.gallery(rel='group', title='', href='img/cert2.jpg')
						img(src='img/cert2.jpg')
				.item
					a.gallery(rel='group', title='', href='img/cert.jpg')
						img(src='img/cert.jpg')
				.item
					a.gallery(rel='group', title='', href='img/cert2.jpg')
						img(src='img/cert2.jpg')
				.item
					a.gallery(rel='group', title='', href='img/cert.jpg')
						img(src='img/cert.jpg')
			a.btn.next &nbsp;&nbsp;&#9002;
		a(href="#") Условия получения
		br
		br
		a(href="#") Политика в отношении обработки и защиты персональных данных
		br
		br
		a(href="#") Положение о порядке раскрытия неограниченному кругу лиц информации о лицах, оказывающих существенное влияние на решения, принимаемые органами управления 
		br
		br
		a(href="#") Положение о порядке раскрытия неограниченному кругу лиц информации о лицах, оказывающих существенное влияние на решения, принимаемые органами управления