footer
	.inner
		img(src="img/logo-footer.png")
		.phone 8-(965)-735-2000
		.phone 8-(965)-735-4000
		img(src="img/aitek.png")
script(type='text/javascript', src='js/jquery.min.js')  
script(type='text/javascript', src='js/owl.carousel.min.js')
script(type='text/javascript', src='js/jquery.formstyler.js')
script(type='text/javascript', src='js/jquery-ui.min.js')
script(type='text/javascript', src='js/script.js')
script(type='text/javascript', src='js/app.js')