section#sect-1
	.inner
		.header
			img(src="img/logo.png" alt="logo").logo
			.address Вологда, ул. Батюшкова 11, 5 этаж, офис 501 пн. – пт. с 9.00 – 18.00, обед: с 13.00 – 14.00 <br> тел.: <span class="font-bold">8(965)735-2000</span>
			.address Вологда, ул. Батюшкова 11, 5 этаж, офис 501 пн. – пт. с 9.00 – 18.00, обед: с 13.00 – 14.00 <br> тел.: <span class="font-bold">8(965)735-2000</span>
		ul.menu
			li.menu-item.current
				a(href="#sect-1") Главная
			li.menu-item
				a(href="#sect-3") Виды займов
			li.menu-item
				a(href="#sect-4") Как оформить займ?
			li.menu-item
				a(href="#sect-5") Контакты
			li.menu-item
				a(href="#sect-6") Документы
	.content
		.slider
			#owl-slide
				a.btn.prev.top &#12296;&nbsp;&nbsp;
				.owl-slide
					.item
						h2 займы до 35 000 рублей получить легко! 
						br
						p Оставьте заявку на ваш заём на сайте или по бесплатному телефону
						br
						p.lightblue 8-800-000-00-00
					.item
						h2 займы до 35 000 рублей получить легко! 
						br
						p Оставьте заявку на ваш заём на сайте или по бесплатному телефону
						br
						p.lightblue 8-800-000-00-00
				a.btn.next.top &nbsp;&nbsp;&#9002;
	img(src="img/girl.png").girl