section#sect-4
	.inner
		h3 Как оформить займ?
		.how
			.step
				img(src="img/icon1.png")
				p Заполните заявку
			.arrow
			.step
				img(src="img/icon2.png")
				p Дождитесь звонка
			.arrow
			.step
				img(src="img/icon3.png")
				p Получите займ
.special
	a(href="#") Особые условия получения