section#sect-3
	.inner
		h3 Виды займов
		.loan
			.loan-type
				p под залог имущества
				.hr
				p.blue от 10 000 до 300 000 рублей
				p.orange 6-12 месяцев
				p от 60,83% до 97,33% годовых
			.loan-type.active
				p потребительский <br> займ
				.hr
				p.blue от 10 000 до 300 000 рублей
				p.orange 6-12 месяцев
				p от 60,83% до 97,33% годовых
			.loan-type
				p под залог имущества
				.hr
				p.blue от 10 000 до 300 000 рублей
				p.orange 6-12 месяцев
				p от 60,83% до 97,33% годовых